fastapi
uvicorn[standard]
websockets
python-multipart
openai
python-dotenv
pydantic
langchain
langchain-openai
langchain-community
gtts
pygame
pyaudio
numpy
aiofiles
python-json-logger
httpx
setuptools
wheel
